[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
supertokens-python = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
start = "fastapi run src/main.py" # Start the FastAPI application in production mode
dev = "fastapi dev src/main.py" # Start the FastAPI application in development mode with auto-reload
test = "pytest" # Run tests using pytest
lint = "ruff check ." # Lint the codebase using ruff
lint-fix = "ruff check . --fix" # Lint the codebase using ruff and automatically fix issues
format = "ruff format ." # Format the codebase using ruff
